/***   Start Global Rules   ***/


:root{
    --main-clr: #0F142B;
    --secondary-clr: #b1f315;
    --main-text-clr: #fff;
    --secondary-text-clr:#b2b3c2;
    --secondary-font: "Urbanist", sans-serif;
}

/***   End Global Rules   ***/





/* start signup-section */

.signup-section{
    display: flex;
}

.signup-section .image{
    flex-basis: 50%;
}

.signup-section .image img{
    height: 100%;
}
.signup-section .Sign-part {
    background-color: #2e334e;
    flex: 0 1 50%;
    flex-basis: 100%;

}

.signup-section .Sign-part .signup-container{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.signup-section .Sign-part .signup-container .social-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff23 ;

}

.signup-section .Sign-part .signup-container .title{
    margin: 0;
    font-family: var(--secondary-font);
    margin: 0 65px 10px 66px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.33;
    color: white;
}

.Sign-part  .paragraph {
    font-size: 17px;
    font-weight: 500;
    font-family: var(--secondary-font);
    color: #b2b3c2;
    line-height: 1.65;
    text-align: center;
}

.signup-section .Sign-part .signup-container .social-btns {
    display: flex;
    color: var(--main-text-clr);
    padding-bottom: 8px;
    /* border-bottom: 1px solid #2e334e; */
    
}

.signup-section .Sign-part .signup-container .social-btns button.Facebook,
.signup-section .Sign-part .signup-container .social-btns button.Twitter,
.signup-section .Sign-part .signup-container .social-btns button.Google {
    padding: 0 25px 0 26px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
    border: none;
    margin: 0 10px 0 0;
    color: var(--main-text-clr);
    cursor: pointer;
}

.signup-section .Sign-part .signup-container .social-btns button.Facebook {
    background-color: #2b57b4;
}

.signup-section .Sign-part .signup-container .social-btns button.Twitter{
    background-color: #139af0;
}

.signup-section .Sign-part .signup-container .social-btns button.Google {
    background-color: #ea4335;
}

.signup-section .Sign-part .signup-container .social-btns button p {
    font-weight: 500;
}

.signup-section .Sign-part .email-signup{
    width: 100%;
    max-width: 460px;
    min-width: 300px;
}

.signup-section .Sign-part .email-signup form{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-section .Sign-part .email-signup form .info{
    display: flex;
    flex-direction: column-reverse;
}
.signup-section .Sign-part .email-signup form .info input{
    outline: none;
    border: none;
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.63;
    color: #b2b3c2;
    margin: 8px 0 0;
    padding: 9px 16px;
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: var(--main-clr);
}
.signup-section .Sign-part .email-signup form .info label{
    color: white;
    font-size: 16px;
}

.signup-section .Sign-part .email-signup form .policy label{
    margin: 0 0 0 9px;
    color: var(--secondary-text-clr);
}
.signup-section .Sign-part .email-signup form .policy input::placeholder{
    background-color: transparent;
    color: red;
}

.signup-section .Sign-part .email-signup form button {
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: var(--secondary-font);
    background-color: var(--secondary-clr);
    font-size: 17px;
    font-weight: 600;
    color: #0f142b;
    cursor: pointer;
    margin-top: 10px;
}


.go-to-login {
    text-align: center;
    margin-top: 20px;
    color: #b2b3c2;
}

.go-to-login a{
    color: var(--main-text-clr);
}


@media (max-width:1200px) {
    .signup-section .image{
        display: none;
    }
    .Sign-part{
        flex-basis: 100%;
    }
    .signup-section .Sign-part .signup-container .social-btns button p {
        display: none;
    }
    .signup-section .Sign-part .signup-container .social-btns button i{
        padding: 15px;
    }
}

@media (max-width:420px) {
    .signup-section .Sign-part .signup-container {
        padding:40px 0 ;
    }
    .signup-section .Sign-part .email-signup form {
        padding: 20px 30px;
    }
}

/* end signup-section */





